div{
background-color: blue;
width: 27%; height: 79%;
/*border: 2px solid black;*/
/*display: inline-block;*/
border-radius: 5px;
background-color: #308014

}
#first{
position:absolute;
top: 120px;left: 50px; 
background-color: #005454;}

.hover:hover{
position:absolute; height: 85%; width: 30%;
}

#second{
position:absolute;
top: 120px ;left: 570px; 
background-color: #005454;
}
#third{
position:absolute;
top: 120;left: 1085;
background-color: #005454;
}

*{
border: 1px dashed black;
background-color: #003131;

}
